<header>
	<input type="text" value="" placeholder="search" rel="search" />
	<a class="order up title" data-type="title">title</a>
	<a class="order none author" data-type="title">author</a>
	<a class="order down active date" data-type="title">date</a>
</header>

{% for book in books %}
	{{ book | raw }}
{% endfor %}