<div class="tools">
	<span class="search">
		<input type="text" placeholder="search" /><a href="#">S</a>
	</span>
	<span class="sort">
		<a class="date" href="#">D</a>
		<a class="title selected" href="#">T</a>
		<a class="author" href="#">A</a>
	</span>
</div>
{% for book in books %}
	{{ book | raw }}
{% endfor %}