<header>
	<input type="search" value="" placeholder="search" />
	<div class="buttons">
		<button class="order up" data-type="title">title</button>
		<button class="order none" data-type="title">author</button>
		<button class="order down active" data-type="title">date</button>
	</div>
</header>

{% for book in books %}
	{{ book | raw }}
{% endfor %}