{% extends 'layout.html.twig' %}

{% block scripts %}
	{{ parent() }}
	<script type="text/javascript" src="js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
{% endblock %}

{% block tools %}
<div class="tools">
	<span class="search">
		<input type="text" placeholder="search" /><a href="#" class="clear icon-remove"></a>
	</span>
	<span class="sort">
		Sort by:
		<a class="icon-calendar" href="#" sortby="date">
			<span class="tooltip">Date</span>
		</a>
		<a class="icon-tag" href="#" sortby="title">
			<span class="tooltip">Title</span>
		</a>
		<a class="icon-user" href="#" sortby="author">
			<span class="tooltip">Author</span>
		</a>
	</span>
</div>
{% endblock %}

{% block content %}
{{ render("/library/") }}
{% endblock %}