<!DOCTYPE HTML>
<html lang="en-GB">
<head>
	{% block meta %}
	<meta charset="UTF-8">
	{% endblock %}

	{% block scripts %}
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	{% endblock %}

	{% block styles %}
	<link rel="stylesheet" type="text/css" href="css/global.css">
	{% endblock %}

	<title>PAGE TITLE</title>
</head>
<body>
	<header>{{ render("/header/") }}</header>
	<section>
		{% block content %}
		{% endblock %}
	</section>
	<footer>&copy; 2012 Roberto Torella</footer>
</body>
</html>