{% extends 'layout.html.twig' %}

{% block scripts %}
	{{ parent() }}
	<script src="/js/monocle-dev/monocore.js"></script>
	<script src="/js/monocle-dev/monoctrl.js"></script>
	<script type="text/javascript" src='/js/reader.js'></script>
{% endblock %}

{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/css/monocore.css" />
{% endblock %}

{% block content %}
<div id='book'>
	{% for num, page in pages %}
		<div class='page {% if num % 2 == 0 %}even{% else %}odd{% endif %}'>{{ page | raw }}</div>
	{% endfor %}
</div>
{% endblock %}